
body{
    margin: 0px;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero{
    background-image:  url("images/galaxy.webp");
    background-size: cover;
    padding: 50px;
}

.apply_button{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    color: #82a5ca;
    font-weight: 800;
}

#underline{
    text-decoration: underline;
}

#spacex{
    width: 100px;
}

#message{
    text-shadow: 0px 0px 4px black;
}