
body {
    background-image: url(images/table.png);
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: inherit;
    margin: 2px 0px;
}
