
@font-face {
    font-family: CursedTimer;
    src: url(CursedTimerUlil-Aznm.ttf);
  }

body {
    margin: 0;
    background-color: #19044f;
    color: white;
    font-family: CursedTimer;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-increase{
}

button{
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    background:none;
    color: white;
    border: 1px solid white;
}

#new-game{
    background-color: black;
    color: #F94F6D;
}

#home-counter, #guest-counter{
    text-align: center;
    margin: 0px 0px 32px 0px;
    height: 100px;
    width: 150px;
    background-color: black;
    border-radius: 8px;
    font-size: 80px;
    color: #F94F6D;
}

.options{
    display: flex;
    justify-content: center;
}

.lead{
    color: green;
}

.trail{
    color: red;
}