body {
    margin: 0;
    background-color: #19044f;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-increase{
}

button{
    border-radius: 8px;
    padding: 8px;
    background-color: #19044f;
    color: white;
    border: 1px solid white;
}

#home-counter, #guest-counter{
    text-align: center;
    margin: 0px 0px 32px 0px;
    height: 100px;
    width: 150px;
    background-color: black;
    border-radius: 8px;
    font-size: 64px;
}