* {
    box-sizing: border-box;
}

body{
    color: #293264;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#start{
    text-align: center;
}

#title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

button{
    border-radius: 15px;
    color: #f5f7fb;
    background-color: #4d5b9e;
    width: 200px;
    height: 50px;
    margin: 16px 0;
}

#questions{
    display: flex;
    flex-direction: column;
}

.question{
    border-bottom: 2px solid #dbdef0;
    padding: 16px 0;
}

.question-text{
    font-weight: bold;
}

.options{
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.option{
    border-radius: 8px;
    padding: 4px 12px;
    color: 293264;
    border: 2px solid #293264;
    background-color: white;
    font-weight: bold;
}

.option:hover,
.option:active{
    background-color: #d6dbf5;
}

.correct{
    background-color: #94d7a2;
    border: none;
}

.wrong{
    background-color: #f8bcbc;
    border: none;
}

.neutral{
    color: #4d5b9e;
    border: 2px solid #4d5b9e;
}

#check{
    align-self: center;
}